* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Video Background */
.video-background video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Header Container */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.pixe {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(183, 230, 209);
    text-shadow: 4px 4px #143b2d;
}

.navigator a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 12px;
}
